body{
    background-color: tomato;
}
.sus{
    color:chocolate;
    text-align: center;
}
.amogus{
    color: crimson;    
}
.Kira{
    width: 1000px;
    margin-left: 200px;
}
.Youshikage{
    width: 1000px;
    margin-left: 200px;
}
.Island {
    width: 1000px;
    margin-left: 200px;
}